/* Generated theme: gray */

:root {
  --background: #fcfcfc; /* radix 1 */
  --card: #fcfcfc; /* radix 1 */
  --popover: #fcfcfc; /* radix 1 */
  --sidebar-accent: #f9f9f9; /* radix 2 */
  --muted: #f9f9f9; /* radix 2 */
  --secondary: #f0f0f0; /* radix 3 */
  --sidebar: #f0f0f0; /* radix 3 */
  --primary-foreground: #f0f0f0; /* radix 3 */
  --sidebar-primary-foreground: #f0f0f0; /* radix 3 */
  --accent: #f0f0f0; /* radix 3 */
  --border: #cecece; /* radix 7 */
  --input: #cecece; /* radix 7 */
  --sidebar-border: #cecece; /* radix 7 */
  --sidebar-ring: #bbbbbb; /* radix 8 */
  --ring: #bbbbbb; /* radix 8 */
  --muted-foreground: #646464; /* radix 11 */
  --secondary-foreground: #000000df; /* radix 12 A */
  --accent-foreground: #000000df; /* radix 12 A */
  --primary: #000000df; /* radix 12 A */
  --sidebar-primary: #000000df; /* radix 12 A */
  --sidebar-accent-foreground: #000000df; /* radix 12 A */
  --foreground: #202020; /* radix 12 */
  --card-foreground: #202020; /* radix 12 */
  --popover-foreground: #202020; /* radix 12 */
  --sidebar-foreground: #202020; /* radix 12 */
  --chart-1: #8d8d8d; /* radix 9 */
  --chart-2: #cecece; /* radix 7 */
  --chart-3: #f0f0f0; /* radix 3 */
  --chart-4: #e0e0e0; /* radix 5 */
  --chart-5: #202020; /* radix 12 */
  --destructive: #e5484d; /* radix red 9 */
}

.dark {
  --background: #111111; /* radix 1 */
  --card: #191919; /* radix 2 */
  --popover: #191919; /* radix 2 */
  --primary-foreground: #191919; /* radix 2 */
  --sidebar: #191919; /* radix 2 */
  --sidebar-accent: #2a2a2a; /* radix 4 */
  --secondary: #2a2a2a; /* radix 4 */
  --muted: #2a2a2a; /* radix 4 */
  --accent: #2a2a2a; /* radix 4 */
  --border: #484848; /* radix 7 */
  --sidebar-border: #484848; /* radix 7 */
  --input: #ffffff3b; /* radix 7 A */
  --ring: #6e6e6e; /* radix 9 */
  --sidebar-ring: #6e6e6e; /* radix 9 */
  --sidebar-primary: #6e6e6e; /* radix 9 */
  --muted-foreground: #b4b4b4; /* radix 11 */
  --primary: #ffffffed; /* radix 12 A */
  --foreground: #eeeeee; /* radix 12 */
  --card-foreground: #eeeeee; /* radix 12 */
  --popover-foreground: #eeeeee; /* radix 12 */
  --secondary-foreground: #eeeeee; /* radix 12 */
  --accent-foreground: #eeeeee; /* radix 12 */
  --sidebar-primary-foreground: #eeeeee; /* radix 12 */
  --sidebar-accent-foreground: #eeeeee; /* radix 12 */
  --sidebar-foreground: #eeeeee; /* radix 12 */
  --chart-1: #6e6e6e; /* radix 9 */
  --chart-2: #484848; /* radix 7 */
  --chart-3: #222222; /* radix 3 */
  --chart-4: #313131; /* radix 5 */
  --chart-5: #eeeeee; /* radix 12 */
  --destructive: #e5484d; /* radix red 9 */
}